body{
  margin: 0px;
  width: 100vw;
}
.emp_form{
  position: relative;
  top: 30px;
  box-shadow: 1px 1px 50px gray;
}
.login_form{
  padding: 200px 0px 0px 0px;
}
.border{
  box-shadow: 0px 0px 2px gray;
}
